html,
body,
body * {
  -webkit-touch-callout: default !important;
  -webkit-user-drag: auto !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

input,
textarea,
[contenteditable="true"],
[contenteditable=""] {
  -webkit-user-select: text !important;
  user-select: text !important;
}
